<% for(var i = 0; i < pendingorders.length; i++) { %>
  <tr>
      <td><%= i + 1 %></td>
      <td><%= pendingorders[i].name %></td>
      <td><%= pendingorders[i].type %></td>
      <td><%= pendingorders[i].quantity %></td>
      <td><%= pendingorders[i].ammount %></td>
  </tr>
  <% } %>